* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  height: 100%;
}

header {
  background-color: #191919;
  height: 50px;
}

h1 {
  color: #f7f7f7;
  padding-top: 8px;
  padding-bottom: 8px;
  position: absolute;
  margin-left: 41.5%;
}

#github {
  float: right;
  padding: 10px 20px 0 0;
}


span {
  text-decoration: underline;
  color: #7fffd4;
}

.buttons {
  padding-top: 15px;
  text-align: center;
  width: 480px;
  margin: 0 auto;
}

#clear, #randomcolor, #usersquares, #mint {
  margin: 18px 5px 5px 5px;
  padding: 8px;
  border-radius: 4px;
  background-color: #191919;
  color: #f7f7f7;
}

#clear, #usersquares {
  float: left;
}

#randomcolor, #mint {
  float: right;
}

/* size and position of etch a sketch canvas */
#grid {
  clear: both;
  position: relative;
	top: 10px;
	outline: 2px solid #000;
	font-size: 0;
	margin:auto;
	height: 480px;
	width: 480px;
	padding: 0;
	border: none;
  box-shadow: 2px 2px 30px 10px #b2b2b2;
}

/* creates the pixel effect on #grid */
.square {
  margin:0;
	padding:0;
	border:none;
	display:inline-block;
  float: left;
}
